<a href="https://colab.research.google.com/github/allatop/python/blob/main/DZpandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Диагностическая работа по библиотеке Pandas**

In [ ]:
import numpy as np
import pandas as pd

%matplotlib inline

**Считаем данные из файла в память в виде объекта Pandas.DataFrame**

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## **Задание 1**

Проанализируйте зависимость между портом посадки (Embarked) и вероятностью выживания пассажиров (Survived). Рассчитайте процент выживших для каждого порта посадки (Southampton - 'S', Cherbourg - 'C', Queenstown - 'Q'). Какой порт посадки связан с наибольшим процентом выживших пассажиров? Обоснуйте, почему так могло произойти.

In [ ]:
survival_rates = df.groupby('Embarked')['Survived'].mean() * 100
survival_rates

Embarked
C    55.357143
Q    38.961039
S    33.695652
Name: Survived, dtype: float64

## **Задание 2**

Исследуйте влияние наличия родственников на борту (SibSp - количество братьев/сестер/супругов и Parch - количество родителей/детей) на вероятность выживания. Создайте новую переменную "Family_Size", равную сумме SibSp и Parch плюс 1 (сам пассажир). Разделите пассажиров на группы: одиночки (Family_Size = 1), малые семьи (2-4) и большие семьи (5+). Для какой группы процент выживания был наибольшим?

In [ ]:
df['Family_Size'] = df['SibSp'] + df['Parch'] + 1

def family_size_category(size):
    if size == 1:
        return 'Одиночки'
    elif 2 <= size <= 4:
        return 'Малые семьи'
    else:
        return 'Большие семьи'

df['Family_Size_Category'] = df['Family_Size'].apply(family_size_category)

survival_rates = df.groupby('Family_Size_Category')['Survived'].mean() * 100
print(survival_rates)

highest_survival_group = survival_rates.idxmax()
highest_survival_rate = survival_rates.max()

print(f"Группа с наибольшим процентом выживания: {highest_survival_group} ({highest_survival_rate:.2f}%)")

Family_Size_Category
Большие семьи    16.129032
Малые семьи      57.876712
Одиночки         30.353818
Name: Survived, dtype: float64
Группа с наибольшим процентом выживания: Малые семьи (57.88%)

## **Задание 3**

Проведите анализ возрастных групп пассажиров с учетом пола и класса. Создайте возрастные категории: дети (до 18 лет), молодые взрослые (18-35), взрослые среднего возраста (36-55) и пожилые (старше 55). Определите, какая комбинация возрастной категории, пола и класса имела наивысший процент выживания, а какая - наименьший. Визуализируйте результаты с помощью подходящего графика.

In [ ]:
def age_category(age):
    if age < 18:
        return 'Дети'
    elif 18 <= age <= 35:
        return 'Молодые взрослые'
    elif 36 <= age <= 55:
        return 'Взрослые среднего возраста'
    else:
        return 'Пожилые'

df['AgeCategory'] = df['Age'].apply(age_category)

survival_analysis = df.groupby(['AgeCategory', 'Sex', 'Pclass'])['Survived'].mean().reset_index()

survival_analysis['SurvivalRate'] = survival_analysis['Survived'] * 100

highest_survival = survival_analysis.loc[survival_analysis['SurvivalRate'].idxmax()]
lowest_survival = survival_analysis.loc[survival_analysis['SurvivalRate'].idxmin()]

print("Наивысший процент выживания:", highest_survival)
print("Наименьший процент выживания:", lowest_survival)

Наивысший процент выживания: AgeCategory       Дети
Sex             female
Pclass               2
Survived           1.0
SurvivalRate     100.0
Name: 7, dtype: object
Наименьший процент выживания: AgeCategory     Взрослые среднего возраста
Sex                                   male
Pclass                                   2
Survived                          0.041667
SurvivalRate                      4.166667
Name: 4, dtype: object

## **Задание 4**

Проанализируйте распределение стоимости билетов (Fare) в зависимости от класса (Pclass). Рассчитайте средние значения, медианы и интерквартильные размахи. Найдите и опишите выбросы в данных о стоимости билетов. Определите, существуют ли пассажиры третьего класса, которые заплатили за билет больше, чем некоторые пассажиры первого класса? Если да, то сколько таких пассажиров?

## **Задание 5**


Проведите анализ выживаемости на основе информации о каютах пассажиров (Cabin). Несмотря на то, что многие значения отсутствуют, первая буква номера каюты указывает на палубу. Создайте новую переменную "Deck", извлекая первую букву из номера каюты. Исследуйте связь между палубой и вероятностью выживания. Учитывайте также отсутствующие значения как отдельную категорию. Как расположение каюты (палуба) влияло на шансы выживания пассажира?

In [ ]:
# Ваш код